body {
    font-family: Arial, sans-serif;
    background-color: #0e1116;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e2228;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #00ff95;
}


h2 {
    text-align: center;
    color: #1eff00;
}

#audioPlayer {
    width: 100%;
    margin-bottom: 20px;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007c42;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0092b3;
}

button:focus {
    outline: none;
}

/* Style for unordered list */
ul {
    list-style-type: disc; /* Bullet style */
    margin-bottom: 20px; /* Add space between lists */
}

/* Style for list items */
li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px; /* Add space between list items */
    color: #333; /* Text color */
}

/* Nested list style */
ul ul {
    list-style-type: circle; /* Nested bullet style */
    margin-top: 5px; /* Add space between nested lists */
}

/* Example of additional styles for nested list items */
ul ul li {
    margin-left: 20px; /* Indent nested list items */
}
