{% include playlist-header.html %}

<body>
    <div class="container">
        <center>
            <video id="videoPlayer" controls style="display: none;"></video>
            <audio id="audioPlayer" controls></audio>
        </center>
        <div class="playlist" id="playlist">
            {% for song in page.songs %}
            <button id="song-{{ forloop.index0 }}" onclick="playCymatic('{{song}}')">{{song}}</button>
            {% endfor %}
        </div>
    </div>
    <p>Click <a href="../">here</a> to go to the playlist dashboard</p>
    {% include default-footer.html %}
</body>
